body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  margin: 0 auto;
  max-width: 680px;
}

.container {
  display: grid;
  grid:
    'header' 85px
    'main' 1fr
    'footer' 3rem
    / auto;
  height: 100vh;
}

header {
  padding: 1rem 0;
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  padding: 1rem 0;
  grid-area: footer;
}

nav a {
  margin-right: 1rem;
}
